<%-include('partials/header') %>


<h1 class="dasboardHeading"><%= subject %></h1>

<div class="dropdown utilities">
  <button class="btn btn-secondary dropdown-toggle AssigmentButton" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Assigments
  </button>

  <ul class="dropdown-menu AssigmentLIST" aria-labelledby="dropdownMenuButton1">
    <% assignments.forEach(ass=> { %>
        <li><a class="dropdown-item" href="upload/<%= ass.name %>"><%= ass.name %></a></li>
     <% }) %>

     <!-- C:\Users\Hp\Desktop\github\classroom\upload\8.gif -->

    <!-- <li><a class="dropdown-item" href="#">Assigment 2</a></li>
    <li><a class="dropdown-item" href="#">Assigment 3</a></li> -->
  </ul>


</div>

<div class="dropdown utilities">
  <button class="btn btn-secondary dropdown-toggle AssigmentButton" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Tests
  </button>

  <ul class="dropdown-menu AssigmentLIST" aria-labelledby="dropdownMenuButton1">
    <% tests.forEach(test=> { %>
        <li><a class="dropdown-item" href="upload/<%= test.name %>"><%= test.name %></a></li>
     <% }) %>
    <!-- <li><a class="dropdown-item" href="#">Tests 1</a></li>
    <li><a class="dropdown-item" href="#">Tests 2</a></li>
    <li><a class="dropdown-item" href="#">Tests 3</a></li> -->
  </ul>


</div>

<div class="joinClass">
  <a href="https://paathshalavc.herokuapp.com/"><button type="button" class="btn btn-dark">Join Class</button></a>
</div>

<%- include('partials/footer') %>
